html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.container {
    position: relative;
    width: 610px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(250, 250, 230);
}
h1, p, li {
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-size: 3rem;
    padding: 1rem;
}
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(189, 27, 27);
    color: lightskyblue;
    padding: 1rem;
    text-align: center;
}