@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin: 0;
    padding: 0;
    background-color: #EF6572;
    --translate-x: 30px;   
    --translate-y: -20px;
  }
  .header {
    padding: 30px;
    text-align: center;
    background: EF6572;
  }
  
  .header h2 {
    font-family: 'Merriweather', serif;
    color: #A71C2C;
    font-size: 50px;
  }
  .h3 {
      font-family: 'Merriweather', serif;
      color: #A71C2C;
      font-size: 50px;
  }
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #EF6572;
  }

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #EF6572;
  }
  
  /* Style the topnav links */
  .topnav a {
    position: inherit;
    display: inline;
    font-family: 'Merriweather', serif;
    color: #A71C2C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #A71C2C;
    color: #EF6572;
  }
  
.container {
    position: relative;
    width: 610px;
    height: 200vh;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}