@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,800i&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}
a:any-link {
  font-family: 'Playfair Display', serif;
  color: rgb(179, 27, 42);
  cursor: auto;
  }

h1 {
  font-family: 'Playfair Display', serif;
    font-weight: 700; 
    background-color: rgb(241, 100, 114);
    color: rgb(179, 27, 42);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 1fr 100px;
    gap: 3px;
    grid-template-areas: 
 
    ". . he he . ."
    ". . ma ma . ."
    ". . ju . . ."
    " . . fo fo . ."
    ;    

}
ul {
  font-family: 'Playfair Display', serif;
  color: rgb(179, 27, 42);
  display:flex; 
  justify-content: space-evenly;
  list-style: none;
}
li {
  list-style: none;
  padding: 0 1rem;
}
header {
    grid-area: he;
    background-color: rgb(241, 100, 114);
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    grid-area: ma;
    background-color: rgb(241, 100, 114);
 
}
body {
  font-family: 'Playfair Display', serif;
  background-color: rgb(241, 100, 114);
  color: rgb(179, 27, 42);
}
footer {
    grid-area: fo;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {  
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) { 
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { 
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {      
   
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {  
      h1 {
        font-size: 1rem;
      }
  }