@import url('https://fonts.googleapis.com/css?family=Girassol|Rajdhani&display=swap');

body {
    background-image: url(../images/fondo.jpg);
}


.container {
    margin: 0 auto;
    width: 600px;
    background-color: darkorange;
    padding: 1em;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700; 
    color: dimgrey;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300; 
    color: rgb(156, 62, 62) ;
}

.parrafo {
    color: black;
}

video {
    width: 600px;
}

img {
    width: 600px;
}

.logo {
    width: 60px;
}

/* para navegación*/

ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:flex; 
    justify-content: space-evenly;
    list-style: none;
}
li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    padding: 0 1rem;
}

a {text-decoration: none;}
nav ul li:hover 
{
    background-color: black;
    color: white;
    padding: 0 1rem;
}